.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.nova
.zed
.cursor
docker-compose.yml
Dockerfile
README.md
